<h1>Voici la liste des films enregistés : </h1>
<% @movies.each do |movie| %>
    <div>
        <ul class="list-group">
            <li class="list-group-item" > <%= movie.title %>, réalisé par <%= movie.director.first_name %> <%= movie.director.last_name %>, sorti en <%= movie.release_year %></li>
        </ul>
    </div>
<% end %>